@font-face {
font-family: "Open Sans";
src: url("css/fonts/OPENSANS-REGULAR.ttf");
src: 
url("css/fonts/OPENSANS-REGULAR.ttf") format("ttf"),
url("css/fonts/OPENSANS-REGULAR.ttf") format("opentype"),
}
body{
	font-family: "Open Sans";
	color: #333;

}
.navbar{
	min-height: 50px;
	background: #03e3cb;
}
.navbar-brand{
	width: 300px;
	height: 100px;
	padding: 10px 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #333;
    background:none;    
}
.nav-item{ font-size: 14px; }

.scrip-details{
	text-align: center;
	color: gray;
}
.webpages{margin-top: 45px;}
.nav>li>a{
	margin-bottom: 20px;
	color: #000;
}

.nav>li>a.active{
	background: #03e3cb;
	color:#000;
}

.grid-border{
	border-top:1px solid gray; 
	border-bottom:1px solid gray;
	padding:1.5% 0 1.5% 0;
}

/*Responsive css starts here*/
@media (min-width: 768px){
	.navbar-nav>li>a {
	    padding-top: 15px;
	    padding-bottom: 15px;
	  
	}
	
}















