<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>


<!-- /container start here -->
<div class="container webpages">
    <div class="row scrip-details">
        <h3 class="col-xs-6">CAKE</h3>
        <h3 class="col-xs-6">{{currentPrice | currency}}</h3>
    </div>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link disabled" href="#">1D</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">1M</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">3M</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">YTD</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">ALL</a>
        </li>
    </ul>
    <div class="row grid-border">
        <div class="col-xs-6">Day High : {{dayHigh}}</div>
        <div class="col-xs-6">Day Low : {{dayLow}}</div>
    </div>
    <div class="row grid-border">
        <div class="col-xs-6">Open : {{open}}</div>
        <div class="col-xs-6">Close : {{close}}</div>
    </div>
    <div class="row grid-border">
        <div class="col-xs-6">Avg Volume : {{avgVolume | bigNumber}}</div>
        <div class="col-xs-6">Total Volume : {{totalVolume | bigNumber}}</div>
    </div>
    <div class="row grid-border">
        <div class="col-xs-6">52 week High : {{weekH52}}</div>
        <div class="col-xs-6">52 Week Low : {{weekL52}}</div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12 btn-group btn-group-justified">
            <div class="btn-group">
                <button class="btn btn-default center-block btn-success submitbtn">BUY</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-default center-block submitbtn btn-danger">SELL</button>
            </div>
        </div>
    </div>
</div>